<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcb.springcloud.learning.dao.StudentDao">
    <resultMap id="BaseResultMap" type="com.lcb.springcloud.learning.po.Student">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="birthDay" column="birth_day" jdbcType="DATE"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="DATE"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryById" parameterType="integer" resultMap="BaseResultMap">
        select id,name,age,sex,address,birth_day,create_time,create_user,update_time,update_user
          from student
         where id=#{id};
    </select>

    <select id="queryAll" resultType="com.lcb.springcloud.learning.po.Student">
        select id,name,age,sex,address,birth_day,create_time,create_user,update_time,update_user
          from student;
    </select>

    <insert id="addStudent" parameterType="com.lcb.springcloud.learning.po.Student">
        insert into student(name,age,sex,address,birth_day,create_time,create_user,update_time,update_user)
        values (#{name},#{age},#{sex},#{address},#{birthDay},now(),#{createUser},now(),#{updateUser});
    </insert>
</mapper>